.row_c {
  max-width: 114rem;
  margin: 0 auto; }
  .row_c:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row_c:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row_c {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row_c::after {
    content: "";
    clear: both;
    display: table; }
  .row_c [class^="col-"] {
    float: left; }
    .row_c [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row_c [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row_c [class^="col-"] {
        width: 100% !important; } }
  .row_c .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row_c .col-1-of-3 {
    width: calc((100% - 2*6rem)/3); }
  .row_c .col-1-of-4 {
    width: calc((100% - 3*6rem)/4); }
  .row_c .col-2-of-3 {
    width: calc(2*((100% - 2*6rem)/3) + 6rem); }
  .row_c .col-2-of-4 {
    width: calc(2*((100% - 3*6rem)/4) + 6rem); }
  .row_c .col-3-of-4 {
    width: calc(3*((100% - 3*6rem)/4) + 2*6rem); }
  
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 2rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: translateX(-3rem) skewX(0); } }
  .story__shape {
    width: 10rem;
    height: 10rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(2rem) scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 56.25em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }

.author{
	text-align: right;
	margin-top: 10px;
}

    
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
 
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

